@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');




/* Affichage de la photo d'avatar  */

.avatar-small {
      width: 28px;
 }
 
  
.avatar-medium {
      width: 48px;
 }
 
.avatar-large {
      width: 68px;
 }
 
 .avatar-full {
      width: 100%;
 }
 
 /* Global  */
 
 header.smaller {
 	height: 75px;
 }

 header.smaller h1#logo {
 	width: 150px;
 	height: 75px;
 	line-height: 55px;
 	font-size: 55px;
 	margin: 0;
 }

 header.smaller nav a {
 	line-height: 75px;
 }

 *,
 *:before,
 *:after {
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 body {
 	color: #505050;
 	font-family: Montserrat;
 	font-weight: 300;
 	font-size: 16px;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-weight: 100;
 	color: #77C7AC;
 }

 a {
 	text-decoration: none;
 	color: #ffffff;
 	font-weight: 300;
	
 }

 a:hover {
 	color: #3c3c3c;
 }

 #wrapper {
 	width: 100%;
 	margin: 0 auto;
 }

 #main {
 	background-color: #fff;
 	padding-top: 0px;
   min-height:500px;
 }

 .container {
 	width: 80%;
 	margin: 0 auto;
 	padding: 0 30px;
 }
 
.clearfix {
 	width: 100%;
 }

 section {
 	padding: 60px 0;
 }

 section h1 {
 	font-weight: 700;
 	margin-bottom: 10px;
 }

 section p {
 	margin-bottom: 30px;
 }

 section p:last-child {
 	margin-bottom: 0;
 }

 section.color {
 	background-color: #f4f4f4;
 }
 
 .login-button {
	 margin: 0 0 0 0;
	 padding: 0 0 0 0;
 }

 header {
 	width: 100%;
 	height: 80px;
 	overflow: hidden;
 	position: fixed;
 	top: 0;
 	left: 0;
 	z-index: 999;
   border-bottom:solid 0.5em #f4f4f4;
 	background-color: #ffffff;
 	transition: height 0.3s;
 }

 header h1#logo {
 	display: inline-block;
 	line-height:80px;
    margin: 0;
    padding:0 1em;
    background-color:none;
 	float: left;
 	font-family: Montserrat;
	text-transform:uppercase;
 	font-size: 25px;
 	color: #000000;
 	font-weight: 400;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
 	-ms-transition: all 0.3s;
 	-o-transition: all 0.3s;
 	transition: all 0.3s;
 }

 header nav {
 	display: inline-block;
 	float: right;
	font-family: Roboto;
 }

 header nav a {
 	line-height: 80px;
 	margin-left: 20px;
 	color: #000000;
 	font-weight: 300;
 	font-size: 15px;
	font-family:Roboto;
 	-webkit-transition: all 0.3s;
 	-moz-transition: all 0.3s;
 	-ms-transition: all 0.3s;
 	-o-transition: all 0.3s;
 	transition: all 0.3s;
 }
 
 header nav button {
  	line-height: 80px;
	text-align:center;
	padding: 0;
  	color: #000000;
  	font-weight: 300;
  	font-size: 15px;
 	font-family:Roboto;
  	-webkit-transition: all 0.3s;
  	-moz-transition: all 0.3s;
  	-ms-transition: all 0.3s;
  	-o-transition: all 0.3s;
  	transition: all 0.3s;
 	
 }

 header nav a:hover {
 	color: #fd5559;
 }

 header.smaller {
 	height: 60px;
 }

 header.smaller h1#logo {
 	line-height: 60px;
 	font-size: 14px;
 }

 header.smaller nav a {
 	line-height: 75px;
 }

 footer {
 	background-color: #3c3c3c;
 	text-align: center;
    min-height:17em;
    color: #bababa;
 }

 footer  a {
 	display: inline-block;
 	margin: 0;
   text-decoration:underline;
 }
 footer div.col {
   width:20%;
   display:inline-block;
   vertical-align: top;
 }
 footer col a {
   display:block;
 }

 footer ul li a:hover {
 	color: #fd5559;
 }
 footer ul li a {
     color: #bababa;  
 }
 footer div#copy {
   margin-top: 1em;
   padding:0;
 }
 footer div#copy a {
   color: #fd5559;  
 }
 footer div.container {
   position:relative;
  
 }
 footer ul{
   list-style:none;
   margin-top:2em;
   padding:0;
 }
 footer ul li {
   text-align:left;
   margin:0;
   padding:0;
 }

 .clearfix:after {
 	visibility: hidden;
 	display: block;
 	content: "";
 	clear: both;
 	height: 0;
 }

 @media all and (max-width: 760px) {
 	header h1#logo {
 		display: block;
 		float: none;
 		margin: 0 auto;
 		height: 100px;     
 		line-height: 80px;
 		text-align: center;
 	}

 	header nav {
 		display: block;
 		float: none;
 		height: 50px;
 		text-align: center;
 		margin: 0 auto;
 	}

 	header nav a {
 		line-height: 50px;
 		margin: 0 10px;
 	}

 	header.smaller {
 		height: 75px;
 	}

 	header.smaller h1#logo {
 		height: 40px;
 		line-height: 40px;
 		font-size: 30px;
      width:100%;
 	}

 	header.smaller nav {
 		height: 35px;
 	}

 	header.smaller nav a {
 		line-height: 35px;
 	}
   footer div.col {
     width:100%;
     display:inline-block;
     vertical-align: top;
   }
   footer ul li {
     display:inline-block;
     margin:0 0.5em;
     float:left;
   }

 }

 @media all and (max-width: 600px) {
 	.container {
 		width: 100%;
 	}

 	footer a {
 		display: block;
 	}
 }


  
.img-responsive {
	display : block;
	max-width: 100%;
	height: auto;
}
 
/* Homepage */

.main-part-homepage {
	background-image: url("/assets/rectangle-2@3x.jpg");
	width: 1440px;
	height: 576px;
	object-fit: contain;
	background-size:cover;
}

.main-part-homepage h1 {
	padding-top: 206px;
	text-transform: uppercase;
	  font-family: Montserrat;
	  font-size: 40px;
	  font-weight: 800;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 4px;
	  text-align: center;
	  color: #ffcc00;
}

.main-part-homepage p {
	padding-top: 14px;
	text-align:center;
	font-family: Roboto;
	  font-size: 24px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 1.1px;
	  text-align: center;
	  color: #ffffff;
}

.section-title {
	text-transform: uppercase;
	font-family: Montserrat;
	  font-size: 20px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.8px;
	  color: #000000;
}

/* Section-2 */

.section-2 hr {
	width: 146px;
	height: 6px;
	background-color: #ffcc00;
	text-align:center;
	margin-bottom: 70px;
}

.section-2 .section-title {
  text-align: center;
  padding-top: 100px;
}

/* Section-3 */

.section-3 {
	height: 670px;
	background-color: #f4f6f8;
}

.section-3-title {
	line-height: 0px;
	margin-bottom: 70px;
}

.section-3 h1 {
	text-transform: uppercase;
	font-family: Montserrat;
	  font-size: 20px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.8px;
	  color: #000000;
	  margin-bottom:0;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.section-3 p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 1px;
	  color: #555555;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}


.section-3-title button {
	width: 160px;
	  height: 36px;
	  background-color: #ffcc00;
	  font-family: Roboto;
	    font-size: 14px;
	    font-weight: 500;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: normal;
	    letter-spacing: 0.6px;
	    text-align: center;
	    color: #000000;
}

.adventure-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Montserrat;
	  font-size: 14px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.6px;
	  color: #000000;
	 }

.section-3-selection p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.71;
	  letter-spacing: 1px;
	  color: #555555;
}

.box {
	box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
}

.section-3-selection .btn {
	margin-bottom:20px;
}



/* Section-5 */
.section-5 hr {
	width: 146px;
	height: 6px;
	background-color: #ffcc00;
	text-align:center;
	margin-bottom: 70px;
}

.section-5 .section-title {
  text-align: center;
  padding-top: 100px;
}

.section-5 .title {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: 1px;
	  text-align: center;
	  color: #555555;
}



 /* Section-2 de la homepage  */

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #ffcc00; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #ffcc00; }
.box .space { height: 30px; }
  
 /* Page de modification du profil  */
 
  .form-group {
 
   margin-bottom: 25px;
 
   }
 
  
  .form-control {
 
   border-radius: 2px;
 
   height: 4rem;
 
   }
 
  
  .sidebar-list {
 
   padding-left: 0;
 
   list-style: none;
 
   }
 
  
  .sidebar-item {
 
   padding: 10px 0;
 
   font-size: 16px;
 
   color: #82888a;
 
   border-bottom: 1px solid #CCC;
 
   }
 
  
  .sidebar-link {
 
   color: #82888a;
 
   text-decoration: none;
 
   }
 
  
  .sidebar-link:hover, .sidebar-link:focus {
 
   color: #cacccd;
 
   text-decoration: none;
 
   }
 
  
  .active.sidebar-link {
 
   color: #565a5c;
 
   font-weight: bold;
 
   text-decoration: none;
 
   }
 
  
  .btn-file {
 
   position: relative;
 
   overflow: hidden;
 
   }
 
  
  .btn-file input[type=file] {
 
   position: absolute;
 
   top: 0;
 
   right: 0;
 
   min-width: 100%;
 
   min-height: 100%;
 
   font-size: 100px;
 
   text-align: right;
 
   filter: alpha(opacity=0);
 
   opacity: 0;
 
   outline: none;
 
   background: white;
 
   cursor: inherit;
 
   display: block;
 
   }
   
 
   /* Style formulaire saisie Adventure  */
 
   label {
 
    color: #565a5c;
 
    font-size: 1.1em;
 
    font-weight: 500;
 
    margin-bottom: 10px;
 
    }
 
  
   select {
 
    color: #565a5c;
 
    background-color: #fff;
 
    width: 100%;
 
    border: 1px solid #ccc;
 
    border-radius: 2px;
 
    padding: 10px;
 
    appearance: none;
 
    -moz-appearance: none; /* Firefox */
 
    -webkit-appearance: none; /* Safari and Chrome */
 
    }
 
  
   .select:before {
 
    content: '\25bc';
 
    font-size: 1.2em;
 
    position: absolute;  
 
    color: #82888A;
 
    top: 40px;  
 
    right: 30px;
 
    transform: scale(0.84, 0.42);
 
    }
 
  
   input[type="checkbox"] {
 
    height: 1.25em;
 
    width: 1.25em;
 
    margin-bottom: -0.25em;
 
    margin-right: 5px;
 
    vertical-align: top;
 
    border: 1px solid #c4c4c4;
 
    border-radius: 2px;
 
    appearance: none;
 
    -moz-appearance: none; /* Firefox */
 
    -webkit-appearance: none; /* Safari and Chrome */
 
    }
 
  
   input[type="checkbox"]:checked:before {
 
    content: "\2713";
 
    position: absolute;
 
    font-size: 0.95em;
 
    text-align: center;
 
    width: 1.25em;
 
    color: #ff5a5f;
 
    }
	
    /* Affichage des photos  */
	
	
	.panel-heading.preview {
 
	         padding: 0;
			 max-width: 100%;
			 display: block;
 
	 }
 
  
	.panel-heading.preview img{  
 
		height:200px;
		width:100%;
 
	 }
	 
	 .search-pics {
		 white-space: nowrap;
		     overflow: hidden;
		     text-overflow: ellipsis;
	 }
	 
     /* Homepage  */
	 
.home-link {
	white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		
	 }
	 
	 

.home-link a, p {
	  
	 	      color: #82888a;
	  
	 	      text-decoration: none;
	  
	 	  }
	  
	   
.home-link:hover a, .home-link:focus a {
	  
	 	      color: #82888a;
	  
	 	      text-decoration: none;
	  
	 	  }
		  

		  
	      /* Recherche  */
		  
		  
#wrapper { 
		   
		  	        width:960px;
		   
		  	        margin:0 auto;
		   
		  	   }
		   
		    
#sidebar {
		   
		  	        float:right;
		   
		  	        width:340px;
		   
		  	   }
		   
		    
#sidebar #widget {
		   
		  	        width:340px;
		   
		  	        height: 600px;
		   
		  	        margin-bottom:10px;
		   
		  	        border-bottom:1px solid #ccc;
		   
		  	   }
		   
		    
#article {
		   
		  	        width:560px;
		   
		  	   }
		  	   
.search { position: relative; }
		   
.search input { text-indent: 30px;}
		   
.search .fa-search { 
		   
		  	        position: absolute;
		   
		  	        top: 12px;
		   
		  	        left: 7px;
		   
		  	        font-size: 15px;
		   
		  	        opacity: 0.5;
		   
		  	    }
			
#check-box {
	margin-top: 10px;
}


			
/* Conversation  */
				
				
.conversation {
				 
color: #7f7f7f;
				 
padding: 10px;
				 
}
				 
.conversation:hover, .conversation:focus {
				 
background-color: #F4F4F5;
				 
}
						 
						 
/* Bouton connexion Facebook  */


.btn-primary-fb.btn {
 
						 		      border: 1px solid #4568b2;
 
						 		      border-radius: 2px;
 
						 		      font-weight: bold;
 
						 		      background-color: #4568b2;
 
						 		      color: #fff;
 
						 		      padding: 10px 25px 10px 25px;
 
						 		  }
 
  
.btn-primary-fb.btn:hover, .btn-primary-fb.btn:focus {
 
						 		     border-color: #627aac;
 
						 		     background-color: #627aac;  
 
						 		     outline:none;
 
						 		  }
 
  
.btn-primary-fb.btn:active {
 
						 		    border-color: #2b2eb2;
 
						 		    background-color: #2b2ebB2;  
 
						 		    outline:none;
 
						 		  }
								  
								  
.service-box {
	max-width: 400px;
}

/* Footer  */


footer.footer {
  padding-top: 4rem;
  background-color: #e6e6ff;
}



/*Affichage d'une annonce*/

.activity-feature {
	color: #333333;
	font-size:16px;
	
}

.para-annonce {
	color: #0000e6;
}