@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-datepicker";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');




/* Affichage de la photo d'avatar  */

.avatar-small {
      width: 28px;
 }
 
  
.avatar-medium {
      width: 48px;
 }
 
.avatar-large {
      width: 68px;
 }
 
 .avatar-full {
      width: 100%;
 }
 
 /* Global  */
 


 body {
 	color: #505050;
 	font-family: Montserrat;
 	font-weight: 300;
 	font-size: 16px;
 }
 
 .main {
	 margin-top: 50px;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-weight: 100;
 	color: #77C7AC;
 }

 a {
 	text-decoration: none;
 	font-weight: 300;
	
 }

 a:hover {
 	color: #3c3c3c;
 }

 #wrapper {
 	width: 100%;
 	margin: 0 auto;
 }

 #main {
 	background-color: #fff;
 	padding-top: 0px;
   min-height:500px;
 }

 .container {
 	width: 80%;
 	margin: 0 auto;
 	padding: 0 30px;
 }
 
.clearfix {
 	width: 100%;
 }
 
 /* NAVBAR  */

 .navbar {
	 font-family: Roboto;
	   font-size: 12px;
	   font-weight: bold;
	   font-style: normal;
	   font-stretch: normal;
	   line-height: normal;
	   letter-spacing: 0.5px;
	   text-align: center;
	   color: #000000;
	   background-color: white;
	   
 }
 
 .navbar-brand {
	 text-transform: uppercase;
	 font-family: Montserrat;
	   font-size: 14px;
	   font-weight: 800;
	   font-style: normal;
	   font-stretch: normal;
	   line-height: normal;
	   letter-spacing: 0.6px;
	   color: #000000;
	 
 }
 
#navbar-btn {
	background-color: #ffcc00;
}
 
 /* FIN NAVBAR  */
 

 section {
 }

 section h1 {
 	font-weight: 700;
 	margin-bottom: 10px;
 }

 section p {
 	margin-bottom: 30px;
 }

 section p:last-child {
 	margin-bottom: 0;
 }

 section.color {
 	background-color: #f4f4f4;
 }
 
 .login-button {
	 margin: 0 0 0 0;
	 padding: 0 0 0 0;
 }


 footer {
 	background-color: #3c3c3c;
 	text-align: center;
    min-height:17em;
    color: #bababa;
 }

 footer  a {
 	display: inline-block;
 	margin: 0;
   text-decoration:underline;
 }
 footer div.col {
   width:20%;
   display:inline-block;
   vertical-align: top;
 }
 footer col a {
   display:block;
 }

 footer ul li a:hover {
 	color: #fd5559;
 }
 footer ul li a {
     color: #bababa;  
 }
 footer div#copy {
   margin-top: 1em;
   padding:0;
 }
 footer div#copy a {
   color: #fd5559;  
 }
 footer div.container {
   position:relative;
  
 }
 footer ul{
   list-style:none;
   margin-top:2em;
   padding:0;
 }
 footer ul li {
   text-align:left;
   margin:0;
   padding:0;
 }

 .clearfix:after {
 	visibility: hidden;
 	display: block;
 	content: "";
 	clear: both;
 	height: 0;
 }


  
.img-responsive {
	display : block;
	max-width: 100%;
	height: auto;
}
 
/* Homepage */

.main-part-section-1-img {
	background-image: url("/assets/rectangle-2@3x.jpg");
	width: 1440px;
	height: 576px;
	object-fit: contain;
	background-size:cover;
	max-width: 100%;
	max-height:100%;
}

.main-part-section-1-img .container h1 {
	padding-top: 206px;
	text-transform: uppercase;
	  font-family: Montserrat;
	  font-size: 40px;
	  font-weight: 800;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 4px;
	  text-align: center;
	  color: #ffcc00;
}

.main-part-section-1-img .container p {
	padding-top: 0px;
	text-align:center;
	font-family: Roboto;
	  font-size: 24px;
	  font-weight: 500;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 1.1px;
	  text-align: center;
	  color: #ffffff;
}

.section-title {
	text-transform: uppercase;
	font-family: Montserrat;
	  font-size: 20px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.8px;
	  color: #000000;
}




/* Second Part Homepage */

.second-part-homepage {
	
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #dd0000;
    background-color: #f2f2f2;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-weight: bold;
}
.nav-tabs .nav-link {
    border-bottom: 1px solid #dd0000;
    color: #696969;
}

.card-body-title {
	line-height:0px;
	margin-bottom: 35px;
}
.card-body h1 {
	text-transform: uppercase;
	font-family: Montserrat;
	  font-size: 20px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.8px;
	  color: #000000;
	  margin-bottom:0;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.card-body p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 1px;
	  color: #555555;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.main-part-section-1-search {
	line-height: 0px;
	margin: 0 220px;
	position: relative;
	bottom:50px;
	height: 200px;
	background-color: #ffffff;
	box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.1);
	padding: 30px 10px 30px 10px;

}

.section-1 {
	max-width: 100%;
	max-height: 100%;
}

.main-part-section-1-search .title {
	margin-bottom:20px;
}

.search-forms {
	font-family: Roboto;
}

.search-forms select {
	font-size: 12px;
	width: 180px;
	height: 30px;
}

.search-forms .btn {
	width: 180px;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background-color: #ffcc00;
	border: none;
	color: #000000;
}

.text-center {
	font-family: Roboto;
	font-size: 14px;
}


.main-part-section-1-search h1 {
	text-transform: uppercase;
	font-family: Montserrat;
	  font-size: 20px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.8px;
	  color: #000000;
	  margin-bottom:0;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.main-part-section-1-search p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 1px;
	  color: #555555;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.container-1 {
	background-color: red;
}

/* Section-2 */



.section-2 hr {
	width: 146px;
	height: 6px;
	background-color: #ffcc00;
	text-align:center;
	margin-bottom: 70px;
}

.section-2 .section-title {
  text-align: center;
  padding-top: 100px;
}

/* Section-3 */

.section-3 {
	height: 670px;
	background-color: #f4f6f8;
}

.section-3-title {
	line-height: 0px;
}

.section-3 h1 {
	text-transform: uppercase;
	font-family: Montserrat;
	  font-size: 20px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.8px;
	  color: #000000;
	  margin-bottom:0;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.section-3 p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 1px;
	  color: #555555;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.section-3-selection-p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 2;
	  letter-spacing: 1px;
	  color: #555555;
  	  display: table-cell; /* comportement visuel de cellule */
  	  vertical-align: middle;
}

.section-3-title button {
	width: 160px;
	  height: 36px;
	  background-color: #ffcc00;
	  font-family: Roboto;
	    font-size: 14px;
	    font-weight: 500;
	    font-style: normal;
	    font-stretch: normal;
	    line-height: normal;
	    letter-spacing: 0.6px;
	    text-align: center;
	    color: #000000;
}

.adventure-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: Montserrat;
	  font-size: 14px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: 0.6px;
	  color: #000000;
	 }

.section-3-selection p {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.71;
	  letter-spacing: 1px;
	  color: #555555;
}

.box {
	box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
	display: inline-block;
}

.section-3-selection .btn {
	margin-bottom:20px;
}



/* Section-5 */
.section-5 hr {
	width: 146px;
	height: 6px;
	background-color: #ffcc00;
	text-align:center;
	margin-bottom: 70px;
}

.section-5 .section-title {
  text-align: center;
  padding-top: 100px;
}

.section-5 .title {
	font-family: Roboto;
	  font-size: 14px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: 1px;
	  text-align: center;
	  color: #555555;
}



 /* Section-2 de la homepage  */

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #ffcc00; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image .img-thumbnail > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; display: inline-block; height:170px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #ffcc00; }
.box .space { height: 30px; }

.img-thumbnail {z-index: 1;}
  
 /* Page de modification du profil  */
 
  .form-group {
 
   margin-bottom: 25px;
 
   }
 
  
  .form-control {
 
   border-radius: 2px;
 
   height: 4rem;
 
   }
 
  
  .sidebar-list {
 
   padding-left: 0;
 
   list-style: none;
 
   }
 
  
  .sidebar-item {
 
   padding: 10px 0;
 
   font-size: 16px;
 
   color: #82888a;
 
   border-bottom: 1px solid #CCC;
 
   }
 
  
  .sidebar-link {
 
   color: #82888a;
 
   text-decoration: none;
 
   }
 
  
  .sidebar-link:hover, .sidebar-link:focus {
 
   color: #cacccd;
 
   text-decoration: none;
 
   }
 
  
  .active.sidebar-link {
 
   color: #565a5c;
 
   font-weight: bold;
 
   text-decoration: none;
 
   }
 
  
  .btn-file {
 
   position: relative;
 
   overflow: hidden;
 
   }
 
  
  .btn-file input[type=file] {
 
   position: absolute;
 
   top: 0;
 
   right: 0;
 
   min-width: 100%;
 
   min-height: 100%;
 
   font-size: 100px;
 
   text-align: right;
 
   filter: alpha(opacity=0);
 
   opacity: 0;
 
   outline: none;
 
   background: white;
 
   cursor: inherit;
 
   display: block;
 
   }
   
 
   /* Style formulaire saisie Adventure  */
 
   .new-adventure label {
 
    color: #565a5c;
 
    font-size: 1.1em;
 
    font-weight: 500;
 
    margin-bottom: 10px;
 
    }
 
  
   .new-adventure select {
 
    color: #565a5c;
 
    background-color: #fff;
 
    width: 100%;
 
    border: 1px solid #ccc;
 
    border-radius: 2px;
 
    padding: 10px;
 
    appearance: none;
 
    -moz-appearance: none; /* Firefox */
 
    -webkit-appearance: none; /* Safari and Chrome */
 
    }
 
  
   .new-adventure select:before {
 
    content: '\25bc';
 
    font-size: 1.2em;
 
    position: absolute;  
 
    color: #82888A;
 
    top: 40px;  
 
    right: 30px;
 
    transform: scale(0.84, 0.42);
 
    }
 
  
   .new-adventure input[type="checkbox"] {
 
    height: 1.25em;
 
    width: 1.25em;
 
    margin-bottom: -0.25em;
 
    margin-right: 5px;
 
    vertical-align: top;
 
    border: 1px solid #c4c4c4;
 
    border-radius: 2px;
 
    appearance: none;
 
    -moz-appearance: none; /* Firefox */
 
    -webkit-appearance: none; /* Safari and Chrome */
 
    }
 
  
   .new-adventure input[type="checkbox"]:checked:before {
 
    content: "\2713";
 
    position: absolute;
 
    font-size: 0.95em;
 
    text-align: center;
 
    width: 1.25em;
 
    color: #ff5a5f;
 
    }
	
    /* Affichage des photos  */
	
	
	.panel-heading.preview {
 
	         padding: 0;
			 max-width: 100%;
			 display: block;
 
	 }
 
  
	.panel-heading.preview img{  
 
		height:200px;
		width:100%;
 
	 }
	 
	 .search-pics {
		 white-space: nowrap;
		     overflow: hidden;
		     text-overflow: ellipsis;
	 }
	 
     /* Homepage  */
	 
.home-link {
	white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
		
	 }
	 
	 

.home-link a, p {
	  
	 	      color: #82888a;
	  
	 	      text-decoration: none;
	  
	 	  }
	  
	   
.home-link:hover a, .home-link:focus a {
	  
	 	      color: #82888a;
	  
	 	      text-decoration: none;
	  
	 	  }
		  

		  
	      /* Recherche  */
		  
		  
#wrapper { 
		   
		  	        width:960px;
		   
		  	        margin:0 auto;
		   
		  	   }
		   
		    
#sidebar {
		   
		  	        float:right;
		   
		  	        width:340px;
		   
		  	   }
		   
		    
#sidebar #widget {
		   
		  	        width:340px;
		   
		  	        height: 600px;
		   
		  	        margin-bottom:10px;
		   
		  	        border-bottom:1px solid #ccc;
		   
		  	   }
		   
		    
#article {
		   
		  	        width:560px;
		   
		  	   }
		  	   
.search { position: relative; }
		   
.search input { text-indent: 30px;}
		   
.search .fa-search { 
		   
		  	        position: absolute;
		   
		  	        top: 12px;
		   
		  	        left: 7px;
		   
		  	        font-size: 15px;
		   
		  	        opacity: 0.5;
		   
		  	    }
			
#check-box {
	margin-top: 10px;
}


			
/* Conversation  */
				
				
.conversation {
				 
color: #7f7f7f;
				 
padding: 10px;
				 
}
				 
.conversation:hover, .conversation:focus {
				 
background-color: #F4F4F5;
				 
}
						 
						 
/* Bouton connexion Facebook  */


.btn-primary-fb.btn {
 
						 		      border: 1px solid #4568b2;
 
						 		      border-radius: 2px;
 
						 		      font-weight: bold;
 
						 		      background-color: #4568b2;
 
						 		      color: #fff;
 
						 		      padding: 10px 25px 10px 25px;
 
						 		  }
 
  
.btn-primary-fb.btn:hover, .btn-primary-fb.btn:focus {
 
						 		     border-color: #627aac;
 
						 		     background-color: #627aac;  
 
						 		     outline:none;
 
						 		  }
 
  
.btn-primary-fb.btn:active {
 
						 		    border-color: #2b2eb2;
 
						 		    background-color: #2b2ebB2;  
 
						 		    outline:none;
 
						 		  }
								  
								  
.service-box {
	max-width: 400px;
}

/* Footer  */


footer.footer {
  padding-top: 4rem;
  background-color: #e6e6ff;
}



/*Affichage d'une annonce*/

.activity-feature {
	color: #333333;
	font-size:16px;
	
}

.para-annonce {
	color: #0000e6;
}